* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #212529;
}

header {
	display: flex;
	align-items: center;
	height: 50px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sorting-container {
	display: flex;
	align-items: flex-end;
	height: 500px;
	width: 100%;
	margin-top: 150px;
}

.sorting-container > div {
	width: 100%;
	margin: 0 0px;
	background-color: #ced4da;
}
